.vac-link-card-wrapper {
	display: flex;
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 2px 2px 1px #b5b5b5;
	background: white;
	overflow: hidden;
	.vac-link-ogpimg {
		width: 100px;
	}
	.vac-link-card-desc {
		padding: 15px;
		width: calc(100% - 130px);
		h3 {
			font-size: 16px;
			color: black;
			text-decoration: none;
		}
		p {
			font-size: 12px;
			color: grey;
			text-decoration: none;
		}
	}
}
